<html>
  <head>
    <title>Contact Success</title>
    <link type="text/css" href="/assets/style.css" rel="stylesheet" />
  </head>
  <body>
    <h1>Contact saved successfully</h1>
    <%= data.first_name %> <%= data.last_name %>
  </body>
</html>
