<html>
  <head>
    <title>Home</title>
    <link type="text/css" href="/assets/style.css" rel="stylesheet" />
  </head>
  <body>
    <h1>This is home page.</h1>
    <% include partials/menu.ejs %>
  </body>
</html>
