<html>
  <head>
    <title>Profile - Vidyadhar</title>
    <link type="text/css" href="/assets/style.css" rel="stylesheet" />
  </head>
  <body>
    <h1>This is <%= user.name %>'s profile page.</h1>
    <h2>He is <%= user.age %> years old <%= user.job %>.</h2>
  </body>
</html>
