<html>
  <head>
    <title>Contact success</title>
  </head>
  <body>
    First Name: <%= data.first_name %><br/>
    Last Name: <%= data.last_name %><br/>
    Profession: <%= data.profession %><br/>
  </body>
</html>
